@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
* {
    /* border: 1px solid; */
    font-family: 'Poppins', sans-serif;
    background-color: #fffefe;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Caveat';
    font-weight:900;
    font-size: 32px;
    color: rgb(66, 125, 173);
    margin-bottom: 25px;
    text-shadow: 5px 5px #c7e3f0;
}

.header h1 {
    border: 15px solid rgb(66, 125, 173);
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.main {
    display: flex;
    justify-content: center;
    /* padding-left: 200px;
    padding-right: 200px; */
    /* width: 500px;
    height: 500px; */
    /* background-color: azure; */
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 700px;
    /* background-color: azure; */
    flex-wrap: wrap;
    /* justify-content: space-between; */
    border: 4px solid rgb(66, 125, 173);
   box-shadow: 1px 1px 2px gray;
   
    

}

.grid {
    background-color:rgb(255, 255, 255);

}

.options {
    padding: 20px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;

    /* align-items: center; */
}

#clear {
    border-radius: 10px;
    border: 2px solid gainsboro;
    padding: 5px 20px 5px 20px;

}
#colour-picker {
        border-radius: 50%;
        width: 100px;
        height: 100px; 
        background-color:rgb(0, 0, 0);
        display:inline-block;
}
input[type=color] {
    border-radius: 50%;
    width: 100px;
    height: 100px; 
    opacity: 0%;
}
